/* Set margin, flex properties, height, and background color for the body */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../resources/images/Background/Josh.jpg"); /* Red background color */
}

/* Add border to the canvas element */
canvas {
    border: 1px solid #fff; /* 1 pixel solid white border */
}
